<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <base href="@(Request.ApplicationPath == "/" ? "/" : Request.ApplicationPath + "/")">
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link href="Content/bootstrap.css?cacheKey=@ViewBag.Version" rel="stylesheet" />
    <link href="Content/main.css?cacheKey=@ViewBag.Version" rel="stylesheet" />
    <link href="Content/angular-ui-tree.css?cacheKey=@ViewBag.Version" rel="stylesheet" />
    <link href="Content/ng-img-crop.css?cacheKey=@ViewBag.Version" rel="stylesheet" />
    <link href="Content/loading-bar.css?cacheKey=@ViewBag.Version" rel="stylesheet" />
    <link href="Content/angular-ui-notification.css?cacheKey=@ViewBag.Version" rel="stylesheet" />
</head>
<body data-ng-app="mainApp" data-ng-controller="indexController">
    <script type="text/ng-template" id="validation-messages">
        <div ng-message="required">This field cannot be blank</div>
        <div ng-message="minlength">The value for this field is too short</div>
        <div ng-message="maxlength">The value for this field is too long</div>
        <div ng-message="min">Please enter higher value</div>
        <div ng-message="max">The value entered has exceeded the limit</div>
        <div ng-message="email">You have entered an incorrect email value</div>
        <div ng-message="pattern">You did not enter the value in the correct format</div>
    </script>

    <!-- Fixed navbar -->
    <nav class="navbar navbar-default navbar-fixed-top navbar--custom">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <i class="navbar-logo"></i>
                <a class="navbar-brand navbar-brand--custom" href="#">@ViewBag.Title</a>
            </div>
            <div id="navbar" class="collapse navbar-collapse">
                <ul data-ng-hide="!authentication.isAuth" class="nav navbar-nav navbar-nav--custom">
                    <li ui-sref-active-eq='active'><a ui-sref="home" active-link="active" data-toggle="collapse" data-target=".navbar-collapse.in" data-i18n="_Layout_Home_"></a></li>
                    <li class="dropdown" ui-sref-active="{'active': 'pin'}">
                        <a href="" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><span data-i18n="_Layout_Wallet_"></span> <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li ui-sref-active-eq='active'><a ui-sref="pin.transfer" data-toggle="collapse" data-target=".navbar-collapse.in"><span data-i18n="_Layout_Wallet_Transfer_"></span></a></li>
                            <li ui-sref-active-eq='active'><a ui-sref="pin.rate" data-toggle="collapse" data-target=".navbar-collapse.in"><span data-i18n="_Layout_Wallet_Buy_"></span></a></li>
                        </ul>
                    </li>
                    <li class="dropdown" ui-sref-active="{'active' : 'ga'}">
                        <a href="" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><span data-i18n="_Layout_GiveAccept_"></span> <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li ui-sref-active-eq='active'><a ui-sref="currentTransaction" data-toggle="collapse" data-target=".navbar-collapse.in"><span data-i18n="_Layout_GiveAccept_CurrentState_"></span></a></li>
                            <li role="separator" class="divider"></li>
                            <li ui-sref-active-eq='active'><a ui-sref="transaction.history" data-toggle="collapse" data-target=".navbar-collapse.in"><span data-i18n="_Layout_GiveAccept_TransactionHistory_"></span></a></li>
                            <li ui-sref-active-eq='active'><a ui-sref="transaction.punishment" data-toggle="collapse" data-target=".navbar-collapse.in"><span data-i18n="_Layout_GiveAccept_PunishmentTransaction_"></span></a></li>
                            <li ui-sref-active-eq='active'><a ui-sref="transaction.bonus" data-toggle="collapse" data-target=".navbar-collapse.in"><span data-i18n="_Layout_GiveAccept_BonusTransaction_"></span></a></li>
                            @*<li ui-sref-active-eq='active'><a ui-sref="trade.history" data-toggle="collapse" data-target=".navbar-collapse.in">Transaction History</a></li>
                                <li ui-sref-active-eq='active'><a ui-sref="trade.punishment" data-toggle="collapse" data-target=".navbar-collapse.in">Punishment Transaction</a></li>
                                <li ui-sref-active-eq='active'><a ui-sref="trade.bonus" data-toggle="collapse" data-target=".navbar-collapse.in">Bonus Transaction</a></li>*@
                        </ul>
                    </li>
                    <li class="dropdown" ui-sref-active="{'active' : 'acc'}" ng-if="forAdmin()">
                        <a href="" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><span data-i18n="_Layout_AccountManagement_"></span><span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li ui-sref-active-eq='active'><a ui-sref="account.default" data-toggle="collapse" data-target=".navbar-collapse.in"><span data-i18n="_Layout_AccountManagement_Accounts_"></span></a></li>
                            <li ui-sref-active-eq='active'><a ui-sref="allTransactions" data-toggle="collapse" data-target=".navbar-collapse.in"><span data-i18n="_Layout_AccountManagement_AllTransactions_"></span></a></li>
                            <li ui-sref-active-eq='active'><a ui-sref="reportedTransactions" data-toggle="collapse" data-target=".navbar-collapse.in"><span data-i18n="_Layout_AccountManagement_ReportedTransactions_"></span></a></li>
                            <li role="separator" class="divider"></li>
                            <li class="dropdown-header"><span data-i18n="_Layout_AccountManagement_WaitingAccounts_"></span></li>
                            <li ui-sref-active-eq='active'><a ui-sref="waitinggiver" data-toggle="collapse" data-target=".navbar-collapse.in"><span data-i18n="_Layout_AccountManagement_WaitingGivers_"></span></a></li>
                            <li ui-sref-active-eq='active'><a ui-sref="waitingreceiver" data-toggle="collapse" data-target=".navbar-collapse.in"><span data-i18n="_Layout_AccountManagement_WaitingReceivers_"></span></a></li>
                            <li class="dropdown-header"><span data-i18n="_Layout_AccountManagement_Administration_"></span></li>
                            <li ui-sref-active-eq='active'><a ui-sref="forceResetPassword" data-toggle="collapse" data-target=".navbar-collapse.in"><span data-i18n="_Layout_AccountManagement_ResetPassword_"></span></a></li>
                        </ul>
                    </li>
                    <li class="dropdown" ui-sref-active="{'active' : 'user'}">
                        <a href="" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><span data-i18n="_Layout_UserManagement_"></span> <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li ui-sref-active-eq='active'><a ui-sref="user.default" data-toggle="collapse" data-target=".navbar-collapse.in"><span data-i18n="_Layout_UserManagement_Information_"></span></a></li>
                            <li ui-sref-active-eq='active'><a ui-sref="user.register" data-toggle="collapse" data-target=".navbar-collapse.in"><span data-i18n="_Layout_UserManagement_Introduction_"></span></a></li>
                            <li ui-sref-active-eq='active'><a ui-sref="user.tree" data-toggle="collapse" data-target=".navbar-collapse.in"><span data-i18n="_Layout_UserManagement_TreeExpansion_"></span></a></li>
                        </ul>
                    </li>
                </ul>
                <ng-include src="'@Url.Content("~/app/main/index/notification-container.html")'" ng-if="authentication.isAuth"></ng-include>
                <ul class="nav navbar-nav navbar-right navbar-right--custom navbar-nav--custom">
                    <li data-ng-hide="authentication.isAuth"> <a ui-sref="login"><span data-i18n="_Layout_Login_"></span></a></li>
                    <li class="dropdown" data-ng-hide="!authentication.isAuth">
                        <a class="dropdown-toggle dropdown-toggle--custom" id="userNameDropdown" data-toggle="dropdown">
                            <img http-src="{{userContext.avatar.url}}" class="img-circle nav-right--custom__avatar" />
                            <div class="user-info">
                                <span id="userName" title="{{authentication.userName}}">{{authentication.userName}}<b class="caret"></b></span>
                                <p id="userPin" class="user-info--pin" title="{{userContext.pinBalance}}"><span>PIN: </span><span data-ng-bind="userContext.pinBalance"></span></p>
                            </div>
                        </a>
                        <ul class="dropdown-menu">
                            <li><a ui-sref="association"><span data-i18n="_Layout_AssociatedAccounts_"></span></a></li>
                            <li><a href="#" data-ng-click="logOut()"><span data-i18n="_Layout_Logout_"></span></a></li>
                        </ul>
                    </li>
                </ul>
            </div><!--/.nav-collapse -->
        </div>
    </nav>

    <div class="container container--custom">
        @RenderBody()
    </div>
    <div>
        <ng-include src="'@Url.Content("~/app/main/index/chat-container.html")'" ng-if="authentication.isAuth"></ng-include>
    </div>

    <footer class="footer navbar--custom">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="col-md-8">
                        <a href="" ng-click="changeLanguage('vi-VN')"> Tiếng Việt </a> <span class="text-muted"> | </span> <a href="" ng-click="changeLanguage('en-US')"> English </a>
                    </div>
                    <div class="col-md-4">
                        <p class="text-muted pull-right"><span data-i18n="_Layout_Copyright_"></span></p>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    
    <script src="Scripts/Common1.js?cacheKey=@ViewBag.Version"></script>
    <script src="Scripts/Common2.js?cacheKey=@ViewBag.Version"></script>
    <script src="Scripts/MainApp.js?cacheKey=@ViewBag.Version"></script>
    <script src="Scripts/CommonApp.js?cacheKey=@ViewBag.Version"></script>
    <script src="Scripts/AuthApp.js?cacheKey=@ViewBag.Version"></script>
    <script src="~/signalr/hubs"> </script>
</body>
</html>
